extends ../layouts/layout

block content
  h1= system.name
  p Welcome to #{ system.subTitle }
  p Population: #{ system.population } billion

  p Wares:
  table
    thead
      tr
        th Name
        th Price
    tbody
      - each ware in wares
        tr
          td #{ ware.name }
          td #{ ware.baseValue }
